!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= current_page.data.title
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    - if current_page.data.description
      %meta{:content => current_page.data.description, :name => "description"}/
    - if current_page.data.noindex == true
      %meta{ :name => "robots", :content => "noindex,nofollow"}

    - if content_for?(:head)
      = yield_content :head

    = stylesheet_link_tag 'all'

    %link{:href => image_path("favicon/apple-touch-icon.png"), :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => image_path("favicon/favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => image_path("favicon/favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => image_path("favicon/safari-pinned-tab.svg"), :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/


  %body{:class => page_classes}
    = yield
    
    = javascript_include_tag 'all'
    - if content_for?(:javascript)
      = yield_content :javascript
