---
page: Home
title: Built In Birmingham
description: A city of builders
priority: 1.0
---

.bib-logo
  = image_tag "built-in-birmingham-logo-alt-4-white.svg", alt: "Built In Birmingham", width: "400"

%h4.coming-soon Coming Soon

.black
  = image_tag "built-in-birmingham-logo-primary-white.svg", height: "60"
  = image_tag "built-in-birmingham-logo-primary-white.png", height: "60"
  = image_tag "built-in-birmingham-logo-primary-white@2x.png", height: "60"

.black
  = image_tag "built-in-birmingham-logo-primary-white.svg", height: "50"
  = image_tag "built-in-birmingham-logo-primary-white.png", height: "50"
  = image_tag "built-in-birmingham-logo-primary-white@2x.png", height: "50"

.black
  = image_tag "built-in-birmingham-logo-primary-white.svg", height: "40"
  = image_tag "built-in-birmingham-logo-primary-white.png", height: "40"
  = image_tag "built-in-birmingham-logo-primary-white@2x.png", height: "40"

.black
  = image_tag "built-in-birmingham-logo-primary-white.svg", height: "30"
  = image_tag "built-in-birmingham-logo-primary-white.png", height: "30"
  = image_tag "built-in-birmingham-logo-primary-white@2x.png", height: "30"

.black
  = image_tag "built-in-birmingham-logo-primary-white.svg", height: "20"
  = image_tag "built-in-birmingham-logo-primary-white.png", height: "20"
  = image_tag "built-in-birmingham-logo-primary-white@2x.png", height: "20"

.white
  = image_tag "built-in-birmingham-logo-primary.svg", height: "60"
  = image_tag "built-in-birmingham-logo-primary.png", height: "60"
  = image_tag "built-in-birmingham-logo-primary@2x.png", height: "60"

.white
  = image_tag "built-in-birmingham-logo-primary.svg", height: "50"
  = image_tag "built-in-birmingham-logo-primary.png", height: "50"
  = image_tag "built-in-birmingham-logo-primary@2x.png", height: "50"

.white
  = image_tag "built-in-birmingham-logo-primary.svg", height: "40"
  = image_tag "built-in-birmingham-logo-primary.png", height: "40"
  = image_tag "built-in-birmingham-logo-primary@2x.png", height: "40"

.white
  = image_tag "built-in-birmingham-logo-primary.svg", height: "30"
  = image_tag "built-in-birmingham-logo-primary.png", height: "30"
  = image_tag "built-in-birmingham-logo-primary@2x.png", height: "30"

.white
  = image_tag "built-in-birmingham-logo-primary.svg", height: "20"
  = image_tag "built-in-birmingham-logo-primary.png", height: "20"
  = image_tag "built-in-birmingham-logo-primary@2x.png", height: "20"